@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #f8f7f4;
    font-family: 'Poppins', sans-serif;
}

/* || HEADER & LOGO AREA */
.container {
    width: 95%;
    margin: 0 auto;
}

.header {
    padding: 2rem 0 0;
    margin-left: 1rem;
    background-color: #f8f7f4;
}

.header .site-logo .logo {
    width: 6rem;
}

/* || LOGIN CONTENT AREA */
.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    min-height: 40rem;
}

.login-content .title-area {
    margin-top: 1.5rem;
    margin-bottom: 0; 
}

.login-content .title-area .title {
    word-spacing: 0.1rem;
    font-weight: 500;
    font-size: 2.4em;
    color: #333;
}

.login-content .login-area {
    background-color: #fff;
    box-shadow: 0 0.1rem 0.1rem #ccc;
    padding: 2.5rem 1rem 1.2rem;
    border-radius: 0.6rem;
}

.login-content .login-area .login-form {
    display: flex;
    flex-direction: column;
    row-gap: 0.9rem;
}

.login-content .login-area .login-form .field {
    position: relative;
    margin-bottom: 1rem;
}

.login-content .login-area .login-form .field span {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(5%);
    color: #0467c3;
    font-weight: 600;
    font-size: 0.9em;
}

.login-content .login-area .login-form .field input {
    width: 100%;
    padding: 0.5rem 0.5rem;
    margin-top: 0.3rem;
    font-size: 1.1em;
    border: 1px solid #999;
    border-radius: 0.3rem;
}

.login-content .login-area .login-form .field input:focus {
    outline: none;
}

.login-content .login-area .login-form .link a {
    text-decoration: none;
    color: #0467c3;
    font-weight: 600;
}

.login-content .login-area .login-form .button input {
    width: 100%;
    padding: 1.12rem 0.75rem;
    background-color: #0467c3;
    color: #fff;
    font-size: 1.1em;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}

.login-content .login-area .or {
    position: relative;
    text-align: center;
    margin: 1.25rem 0;
    color: #666;
}

.login-content .login-area .or::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 11rem;
    height: 1px;
    background-color: #666;
}

.login-content .login-area .or::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 11rem;
    height: 1px;
    background-color: #666;
}

.login-content .login-area .button-link {
    text-align: center;
    border: 2px solid #999;
    margin: 0.6rem 0;
    padding: 1.1rem 0.75rem;
    border-radius: 3.1rem;
}

.login-content .login-area .button-link i {
    font-size: 1.3em;
    color: #222;
}

.login-content .login-area .button-link a {
    text-decoration: none;
    color: #666;
    font-weight: 600;
}

.login-content .login-area .signin-link {
    text-align: center;
    padding-top: 2rem;
    color: #333;
    font-weight: 500;
}

.login-content .login-area .signin-link a {
    text-decoration: none;
    color: #0467c3;
    font-weight: 600;
    margin-left: 0.3rem;
}

.login-content .get-help .link {
    margin-bottom: 2.5rem;
    color: #333;
    font-weight: 500;
}

.login-content .get-help .link a {
    text-decoration: none;
    color: #0467c3;
    font-weight: 600;
    margin-left: 0.43rem;
}

footer {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

footer ul li {
    float: left;
}

footer ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 0.8em;
    margin: 1rem 0.25rem;
}

/* || MEDIA QUERY */
  @media screen and (max-width: 576px) { 
    .login-content .login-area .or::before {
        width: 7rem;
    }
    
    .login-content .login-area .or::after {
        width: 7rem;
    }
}

  @media screen and (max-width: 768px) {
    body {
        background-color: #fff;
    }

    .header {
        background-color: #fff;
    }

    .login-content .title-area {
        margin-bottom: 0; 
    }
    
    .login-content .title-area .title {
        text-align: center;
        font-weight: 500;
        font-size: 2em;
    }

    .login-content .login-area {
        background-color: #fff;
        box-shadow: none;
        padding-top: 0;
        border-radius: 0.6rem;
    }
  }
