@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* || RESET */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* || GENERAL STYLES */
body {
    background: #f0f2f5;
    color: #f0f2f5
}

a {
    text-decoration: none;
    color: #5f5f5f
}

/* || NAVBAR AREA START */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0.73rem 0.37rem;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0.3rem 0.62rem rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 1.875rem;
    margin-right: 0.93rem;
    display: block;
}

.navbar-center ul li {
    display: inline-block;
    list-style: none;
}

.navbar-center ul li a {
    display: flex;
    align-items: center;
    font-size: 0.87rem;
    margin: 0.3rem 0.5rem;
    padding-right: 0.3rem;
    position: relative;
}

.navbar-center ul li a img {
    width: 1.87rem;
}

.navbar-center ul li a::after {
    content: '';
    width: 0;
    height: 0.125rem;
    background: #045be6;
    position: absolute;
    bottom: -0.93rem;
    transition: width 0.3s;
}

.navbar-center ul li a:hover::after,
.navbar-center ul li a.active-link::after
{
    width: 100%;
}

.nav-profile-img {
    width: 2.5rem;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 0.43rem;
    height: 0.43rem;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    background: #41db51;
    position: absolute;
}

.search-box {
    background: #f0f2f5;
    width: 15.6rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    padding: 0 0.93rem;
}

.search-box img {
    width: 0.875rem;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 0.5rem;
    border: 0;
}

.navbar-left {
    display: flex;
    align-items: center;
}
/* || NAVBAR AREA END */

/* || CONTAINER START */
.container {
    padding: 1.25rem 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* || CONTAINER END */



/* || LEFT SIDEBAR START */
.left-sidebar {
    flex-basis:  25%;
    align-self: flex-start;
}

.sidebar-profile-box {
    background: #fff;
}

.sidebar-profile-info {
    padding: 0 1.56rem;
}

.sidebar-profile-info img {
    width: 5.6rem;
    border-radius: 50%;
    background: #fff;
    padding: 0.25rem;
    margin-top: -2.8rem;
}

.sidebar-profile-info h1 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #222;
}

.sidebar-profile-info h3{
    font-size: 0.87rem;
    font-weight: 500;
    color: #777;
}

.sidebar-profile-info ul {
    list-style-type: none;
    margin: 1.25rem 0;
}

.sidebar-profile-info ul li {
    width: 100%;
    margin: 0.3rem 0;
    font-size: 0.8rem;
    color: #777;
}

.sidebar-profile-info ul li span {
    float: right;
    color: #045be6;
}

.sidebar-profile-link {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}

.sidebar-profile-link a {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 0;
    font-size: 0.8rem;
    border-left: 1px solid #ccc;
}

.sidebar-profile-link a:first-child {
    border-left: 0;
}

.sidebar-profile-link a img {
    width: 1.25rem;
    margin: 0.62rem;
}

.sidebar-activity {
    background: #fff;
    padding: 0.3rem 1.56rem;
    margin: 0.75rem 0;
}

.sidebar-activity h3 {
    color: #777;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 1.25rem 0 0.625rem;
}

.sidebar-activity a {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 500;
    color: #888;
    margin: 3px 0;
}

.sidebar-activity a img {
    width: 1.25rem;
    margin-right: 0.625rem;
}

.discover-more-link {
    border-top: 1px solid #ccc;
    text-align: center;
    margin-top: 1.25rem;
    margin-left: -1.56rem;
    margin-right: -1.56rem;
}

.discover-more-link a {
    color: #045be6;
    display: inline-block;
    margin: 0.625rem 0;
}
/* || LEFT SIDEBAR END */



/* || RIGHT SIDEBAR START */
.right-sidebar {
    flex-basis:  25%;
    align-self: flex-start;
}

.sidebar-news {
    background: #fff;
    padding: 0.625rem 1.56rem;
}

.info-icon {
    width: 0.93rem;
    float: right;
    margin-top: 0.93rem;
}

.sidebar-news h3 {
    font-size: 1.125rem;
    font-weight: 600;
    color: #333;
    margin: 0.625rem 0 1.875rem;
}

.sidebar-news a {
    display: block;
    font-size: 0.75rem;
    font-weight: 600;
    margin-top: 0.625rem;
    margin-bottom: -5px;
}

.sidebar-news span {
    font-size: 0.75rem;
    color: #333;
}

.sidebar-news .read-more-link {
    color: #045be6;
    font-weight: 500;
    margin: 1.25rem 0 0.625rem;
}
/* || RIGHT SIDEBAR END */








/* || MAIN CONTENT START */
.main-content {
    flex-basis: 47%;
}
/* || MAIN CONTENT END */








