@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* || HEADER & LOGO AREA */
.container {
    width: 95%;
    margin: 0 auto;
}

.header {
    padding: 1.2rem 0;
    background-color: #fff;
}

.header .site-logo .logo {
    width: 9rem;
}

/* || LOGIN CONTENT AREA */
.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    min-height: 600px;
}

.login-content .login-area {
    background-color: #fff;
    box-shadow: 0 0.4rem 0.9rem #ccc;
    padding: 2.5rem 1.8rem;
    border-radius: 0.6rem;
}

.login-content .login-area .title-area {
    margin-bottom: 1.25rem;
}

.login-content .login-area .title-area .title {
    font-weight: 700;
    font-size: 1.9em;
    color: #333;
}

.login-content .login-area .title-area .description {
    color: #666;
    font-weight: 500;
    font-size: 0.9em;
}

.login-content .login-area .login-form {
    display: flex;
    flex-direction: column;
    row-gap: 0.9rem;
}

.login-content .login-area .login-form .field input {
    width: 100%;
    padding: 1.1rem 0.75rem;
    font-size: 1.1em;
    border: 1px solid #999;
    border-radius: 0.3rem;
}

.login-content .login-area .login-form .field input:focus {
    outline: none;
}


