@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* RESET START */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* RESET START */



/* GENERAL STYLES START */

body {
    background: #f4f2ee;
    color: #f0f2f5
}

a {
    text-decoration: none;
    color: #5f5f5f
}

/* GENERAL STYLES START */








/* -------------------------------------- HOME PAGE HOME PAGE HOME PAGE HOME PAGE -------------------------------------- */




/* NAVBAR AREA START */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0.2rem 0.37rem 0.6rem 0.37rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo img {
    width: 1.875rem;
    margin-right: 0.93rem;
    margin-left: 6rem;
    display: block;
}

.navbar-center ul li {
    display: inline-block;
    list-style: none;
}

.navbar-center ul li a {
    display: flex;
    align-items: center;
    font-size: 0.87rem;
    margin: 0.3rem 0.5rem;
    padding-right: 0.3rem;
    position: relative;
}

.navbar-center ul li span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 1.56rem;
    color: #777;
}

.navbar-center ul li a i {
    font-size: 1.7rem;
    text-align: center;
    width: 1.87rem;
    margin: 0 1.5rem;
}

.navbar-center li a:hover {
    color: #000;
}

.navbar-center .active-link {
    color: #000;
}

.navbar-center ul li a::after {
    content: '';
    width: 0;
    height: 0.125rem;
    background: #333;
    position: absolute;
    bottom: -1.1rem;
    transition: width 0.3s;
}

.navbar-center ul li a:hover::after,
.navbar-center ul li a.active-link::after
{
    width: 100%;
}

.navbar-right {
    margin-right: 6rem;
}

.nav-profile-img {
    width: 2.5rem;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 0.43rem;
    height: 0.43rem;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    background: #41db51;
    position: absolute;
}

.search-box {
    background: #f0f2f5;
    width: 15.6rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.search-box img {
    width: 0.875rem;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 0.5rem;
    border: 0;
}

.navbar-left {
    display: flex;
    align-items: center;
}

/* NAVBAR AREA END */



/* CONTAINER START */

.container {
    padding: 1.25rem 11%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* CONTAINER END */



/* LEFT SIDEBAR START */

.left-sidebar {
    flex-basis:  18%;
    align-self: flex-start;
    position: sticky;
    top: 4.56rem;
}

.sidebar-profile-box {
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
    background: #fff;
}

.sidebar-profile-box img {
    border-radius: 0.5rem 0.5rem 0 0;
}

.sidebar-profile-info {
    margin: 0.8rem 0;
    padding: 0;
}

.sidebar-profile-info img {
    width: 4.5rem;
    border-radius: 50%;
    background: #fff;
    padding: 0.1rem;
    margin: -2.8rem 30% 0 30%;
}

.sidebar-profile-info figcaption {
    display: block;
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1rem;
    color: #222;
}

.profile-info-title {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.87rem;
    font-weight: 500;
    color: #777;
}


/* USE content: ''; strategy if you want to solve highlighting image and text at hover later */
figure:hover, figcaption:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sidebar-profile-info ul {
    list-style-type: none;
    padding: 0.5rem;
}

.sidebar-profile-info ul li {
    width: 100%;
    font-size: 0.8rem;
    color: #777;
}

.sidebar-profile-info ul li:last-child {
    font-weight: 600;
}

.sidebar-profile-info ul li span {
    float: right;
    color: #045be6;
}

.side-bar-career {
    padding: 0.5rem;
    color: #333;
    font-size: 0.8rem;
}

.sidebar-profile-saved {
    padding: 0.6rem 0.5rem;
    color: #333;
    font-size: 0.8rem;
    font-weight: 600;
}

.sidebar-profile-info ul:hover,
.side-bar-career:hover,
.sidebar-profile-saved:hover {
    cursor: pointer;
    background: #f3f3f3;
}

.sidebar-activity {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
    margin: 0.75rem 0;
    font-size: 0.75rem;
}

.sidebar-activity .recent {
    color: #777;
    margin: 1rem 0 1.5rem 0;
}

.sidebar-activity .recent p {
    margin: 0.5rem 0;
    padding: 0.2rem 0.5rem;
}

.sidebar-activity .recent-hash:hover {
    cursor: pointer;
    background: #f3f3f3;
}

.sidebar-activity .link-list {
    padding: 0 0.5rem;
}

.sidebar-activity .link-list p {
    margin: 0.5rem 0;
}

.sidebar-activity .link-list a {
    font-weight: 600;
    color: #045be6;
}

.link-list a span i {
    float: right;
    font-size: 1rem;
}

.sidebar-activity .link-list a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sidebar-activity .see-all {
    margin: 1rem 0 1.5rem 0;
}

.sidebar-activity .see-all p {
    margin: 0.5rem 0;
    padding: 0.2rem 0.5rem;
}

.discover-more-link {
    text-align: center;
    margin-left: -1.56rem;
    margin-right: -1.56rem;
}

.discover-more-link a {
    font-size: 0.8rem;
    color: #777;
    display: inline-block;
    margin: 0.625rem 0;
}

.discover-more-link:hover {
    cursor: pointer;
    background: #f3f3f3;
}

#showMoreLink {
    display: none;
}

/* LEFT SIDEBAR END */




/* RIGHT SIDEBAR START */

.right-sidebar {
    flex-basis:  25%;
    align-self: flex-start;
    position: sticky;
    top: 4.56rem;
}

.sidebar-news {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
    padding: 0.625rem 1.56rem;
}

.info-icon {
    width: 0.93rem;
    float: right;
    margin-top: 0.93rem;
    cursor: pointer;
}

.sidebar-news h3 {
    font-size: 1.125rem;
    font-weight: 600;
    color: #333;
    margin: 0.625rem 0 0.8rem;
}

.sidebar-news a {
    display: block;
    font-size: 0.75rem;
    font-weight: 600;
    margin-top: 0.625rem;
    margin-bottom: -5px;
}

.sidebar-news span {
    font-size: 0.75rem;
    color: #333;
}

.sidebar-news .read-more-link {
    color: #045be6;
    font-weight: 500;
    margin: 1.25rem 0 0.625rem;
}

.sidebar-ad {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
    padding: 0.93rem 1.56rem;
    text-align: center;
    margin: 0.75rem 0;
    font-size: 0.75rem;
    cursor: pointer;
}

.sidebar-ad img {
    width: 3.75rem;
    border-radius: 50%;
    margin: 0.25rem;
}

.sidebar-ad small {
    float: left;
    font-weight: 500;
    color: #333;
}

.sidebar-ad p {
    margin-top: 1.87rem;
    margin-bottom: 0.625rem;
    color: #333;
}

.sidebar-ad b {
    display: block;
    font-weight: 500;
    margin-top: 0.625rem;
    color: #333;
}

.ad-link {
    display: inline-block;
    border: 1px solid #045be6;
    border-radius: 1.875rem;
    padding: 0.31rem 0.93rem;
    color: #045be6;
    font-weight: 500;
    margin: 1.25rem auto 0.625rem;
}

.sidebar-useful-links {
    padding: 0.93rem 1.56rem;
    text-align: center;
}

.sidebar-useful-links a {
    display: inline-block;
    font-size: 0.875rem;
    margin: 4px 2px;
    font-size: 0.8rem;
}

.sidebar-useful-links a:hover {
    color: #045be6;
    text-decoration: underline;
    cursor: pointer;
}

.copyright-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    margin-top: 0.625rem;
    font-weight: 500;
}

.copyright-msg img {
    width: 1.125rem;
    margin-right: 0.25rem;
}

.copyright-msg p {
    color: #333;
}

/* RIGHT SIDEBAR END */





/* MAIN CONTENT START */

.main-content {
    flex-basis: 50%;
}

.create-post {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
}

.create-post-input {
    padding: 1.25rem 1.56rem 0.625rem;
    display: flex;
    align-items: flex-start;
}

.create-post-input img {
    width: 3rem;
    border-radius: 50%;
    margin-right: 0.625rem;
    cursor: pointer;
}

.create-post-input input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 1.7rem;
    padding: 1rem;
    outline: 0;
    resize: none;
    background: transparent;
}
::placeholder {
    font-weight: 500;
}

.create-post-input input:hover {
    cursor: pointer;
    background: #f3f3f3;
}

.create-post-links {
    display: flex;
    align-items: flex-start;
}

.create-post-links li {
    margin: 1rem;
    border-radius: 0.5rem;
    list-style: none;
    flex-basis: 33%;
    height: 2.5rem;
    font-size: 0.81rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #777;
}

.create-post-links li:hover {
    cursor: pointer;
    background: #f3f3f3;
}

.create-post-links li img {
    width: 0.93rem;
    margin-right: 0.31rem;
}

.sort-by {
    display: flex;
    align-items: center;
    margin: 0.625rem 0;
}

.sort-by hr {
    flex: 1;
    border: 0;
    height: 1px;
    background: #ccc;
}

.sort-by p {
    font-size: 0.81rem;
    padding-left: 5px;
    color: #333;
}

.sort-by p span {
    font-weight: 600;
    cursor: pointer;
}

.sort-by p span img {
    width: 0.75rem;
    margin-left: 3px;
}

.post {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
    padding: 1.25rem 1.56rem 0;
    margin: 0.31rem 0 0.93rem;
    color: #333;
}

.post-author {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.25rem;
}

.post-author img {
    width: 2.18rem;
    border-radius: 50%;
    margin-right: 0.625rem;
    margin-top: 0.31rem;
    cursor: pointer;
}

.post-author h1 {
    font-size: 0.8rem;
    font-weight: 600;
    color: #333;
}

.post-author h1:hover {
    cursor: pointer;
    color: #045be6;
    text-decoration: underline;
}

.post-author small {
    display: block;
    margin-bottom: -2px;
    cursor: pointer;
}

.post p {
    font-size: 0.875rem;
    margin-bottom: 0.93rem;
}

.post-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.375rem;
}

.post-stats article {
    display: flex;
    align-items: center;
}

.post-stats img {
    width: 0.93rem;
    margin-right: -5px;
    cursor: pointer;
}

.post-stats article span:hover {
    cursor: pointer;
    color: #045be6;
    text-decoration: underline;
}

.liked-user {
    margin-left: 0.625rem;
}

.post-activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 500;
    color: #777;
}

.post-activity article {
    display: flex;
    align-items: center;
}

.post-activity-user-icon {
    width: 1.375rem;
    border-radius: 50%;
}

.post-activity-arrow-icon {
    width: 0.75rem;
    margin-left: 0.31rem;
}

.post-activity-link {
    margin: 5px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.post-activity-link:hover {
    cursor: pointer;
    background: #f3f3f3;
}

.post-activity-link i {
    font-size: 1.5rem;
}

/* || MAIN CONTENT END */






/* PROFILE DROP-DOWN MENU START  */
.profile-menu-wrap {
    position: absolute;
    top: 100%;
    right: 5%;
    width: 20rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.profile-menu-wrap.open-menu {
    max-height: 25rem;
}

.profile-menu {
    background: #222;
    color: #fff;
    padding: 1.25rem;
    margin: 0.625rem;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 3.125rem;
    border-radius: 50%;
    margin-right: 0.93rem;
}

.user-info h3 {
    font-weight: 500;
    margin-bottom: -0.43rem;
}

.user-info a {
    color: #c9dbf8;
    font-size: 0.81rem;
}

.profile-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #fff;
    margin: 0.93rem 0 0.625rem;
}

.profile-menu-link {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0.75rem 0;
    font-size: 0.875rem;
}

.profile-menu-link p {
    width: 100%;
}

.profile-menu-link img {
    width: 2.18rem;
    border-radius: 50%;
    margin-right: 0.93rem;
}

/* PROFILE DROP-DOWN MENU END  */





/* -------------------------------------- HOME PAGE HOME PAGE HOME PAGE HOME PAGE -------------------------------------- */













/* -------------------------------------- THE PROFILE PAGE THE PROFILE PAGE THE PROFILE PAGE -------------------------------------- */



/* PROFILE PAGE START */

.profile-main {
    flex-basis: 73%;
}

.profile-sidebar {
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 4.56rem;
}

.profile-container {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
}

.profile-container .background-img {
    border-radius: 0.5rem 0.5rem 0 0;
}

.profile-container-inner {
    padding: 0 4% 0.625rem;
    color: #333;
}

.profile-pic {
    width: 9.37rem;
    border-radius: 50%;
    margin-top: -4.68rem;
    padding: 5px;
    background: #fff;
}

.profile-container h1 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #222;
}

.profile-container b {
    font-weight: 500;
}

.profile-container p {
    margin-top: 5px;
}

.profile-container p a {
    color: #045be6;
    font-weight: 500;
}

.mutual-connection {
    display: flex;
    align-items: center;
    margin: 1.25rem 0;
}

.mutual-connection img {
    width: 1.875rem;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-btn {
    margin: 1.25rem 0;
}

.profile-btn a {
    display: inline-flex;
    align-items: center;
    background: #e4e6eb;
    padding: 0.375rem 0.93rem;
    border-radius: 4px;
    margin-right: 0.625rem;
}

.profile-btn a img {
    width: 1.125rem;
    margin-right: 5px;
}

.profile-btn .primary-btn {
    background: #045be6;
    color: #fff;
}

.profile-description {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
    padding: 1.25rem 4% 1.875rem;
    margin: 0.75rem 0;
}

.profile-description h2 {
    color: #333;
    margin: 0.625rem 0 1.25rem;
    font-weight: 600;
}

.profile-description p {
    color: #333;
}

.see-more-link {
    display: block;
    text-align: right;
    font-size: 0.93em;
}

.profile-desc-row {
    display: flex;
    align-items: flex-start;
    margin: 1.25rem 0;
}

.profile-desc-row img {
    width: 3.125rem;
    margin-right: 1.56rem;
    margin-top: 5px;
}

.profile-desc-row article {
    width: 100%;
}

.profile-desc-row h3 {
    font-size: 1.125rem;
    font-weight: 600;
    color: #333;
}

.profile-desc-row b {
    display: block;
    font-weight: 500;
    font-size: 0.93rem;
    color: #333;
}

.profile-desc-row p {
    margin-top: 0.93rem;
}

.profile-desc-row hr {
    border: 0;
    border-bottom: 1px solid #999;
    margin-top: 0.625rem;
}

.experience-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.25rem;
    font-weight: 500;
}

.experience-link img {
    width: 1.25rem;
    margin-left: 0.5rem;
}

.skills-btn {
    display: inline-block;
    margin: 0.625rem 0.31rem;
    padding: 0.375rem 1.125rem;
    border: 1px solid #777;
    border-radius: 1.875rem;
    font-size: 0.75rem;
    font-weight: 500;
}

.language-btn {
    display: inline-block;
    margin: 0.625rem 0.31rem;
    padding: 0.375rem 1.125rem;
    background: #e4e6eb;
    font-size: 0.75rem;
    font-weight: 500;
}

/* PROFILE PAGE END */




/* PROFILE RIGHT SIDEBAR START */

.profile-sidebar .sidebar-ad {
    margin: 0;
}

.sidebar-people {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
    padding: 0.93rem 1.56rem;
    margin: 0.75rem 0;
    font-size: 0.75rem;
}

.sidebar-people h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.625rem 0 1.25rem;
    color: #333;
}

.sidebar-people-row {
    display: flex;
    align-items: flex-start;
    margin: 0.375rem 0;
}

.sidebar-people-row img {
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-top: 0.31rem;
}

.sidebar-people-row h2 {
    font-weight: 500;
    font-size: 1rem;
    color: #333;
}

.sidebar-people-row a {
    display: inline-block;
    margin: 0.625rem 0;
    padding: 0.31rem 1.56rem;
    border: 1px solid #5f5f5f;
    border-radius: 1.875rem;
    font-weight: 500;
}

.sidebar-people-row p {
    color: #333;
}

.profile-footer {
    padding: 0 11% 1.875rem;

}

.profile-footer .sidebar-useful-links {
    text-align: left;
    padding: 0;
}

.profile-footer .copyright-msg {
    justify-content: flex-start;
}

/* PROFILE RIGHT SIDEBAR END */




/* -------------------------------------- THE PROFILE PAGE THE PROFILE PAGE THE PROFILE PAGE -------------------------------------- */













/* -------------------------------------- THE NETWORK PAGE THE NETWORK PAGE THE NETWORK PAGE -------------------------------------- */



/* NETWORK PAGE LEFT-SIDEBAR START */

.network-page-container {
    padding: 1.25rem 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.network-left-sidebar {
    flex-basis:  25%;
    align-self: flex-start;
    position: sticky;
    margin-top: 0.8rem;
}

.network-sidebar-activity {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
}

.network-manage-section {
    padding: 0;
    margin: 0;
}

.network-sidebar-activity h3 {
    color: #777;
    font-size: 1rem;
    font-weight: 500;
    margin: 1.25rem 1rem 0.625rem;
    cursor: pointer;
}

.network-sidebar-activity ul li {
    list-style-type: none;
    padding: 0.5rem 1rem;
}

.network-sidebar-activity .show-less {
    width: fit-content;
    margin: 0.1rem 0.5rem 0.5rem;
    padding: 0.4rem;
    border-radius: 0.2rem;
}

.network-sidebar-activity .show-less:hover {
    cursor: pointer;
    background: #f3f3f3;
}

.network-sidebar-activity ul li:hover {
    cursor: pointer;
    background: #f3f3f3;
}

.network-sidebar-activity ul li i {
    margin-right: 1rem;
}

.network-sidebar-activity ul li a {
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: #777;
}

.network-sidebar-activity span {
    float: right;
    color: #333;
}

.network-sidebar-activity .network-sidebar-img {
    margin-top: 0.2rem;
    width: 100%;
}


/* NETWORK PAGE LEFT-SIDEBAR END */




/* NETWORK MAIN CONTENT START */

.network-main-content {
    flex-basis: 72%;
    margin-top: 0.8rem;
}

.invitation-section {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
    padding: 0.5rem 0;
}

.invitation-section p {
    display: inline;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: #777;
}

.invitation-section .manage-click {
    display: inline;
    margin-left: 63%;
    color: #000;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.invitation-section .manage-click:hover {
    cursor: pointer;
    background: #f3f3f3;
}

.premium-section {
    margin-top: 1.2rem;
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
    padding: 1rem;
}

.premium-section h3 {
    margin-top: 0.3rem;
    color: #000;
    font-weight: 600;
}

.premium-section h3 span {
    margin-top: -0.7rem;
    float: right;
    cursor: pointer;
    font-size: 2rem;
}

.premium-section p {
    color: #777;
    font-weight: 500;
    margin: 0.5rem 0;
}

.premium-members-section {
    display: flex;
    margin-left: 1rem;
}

.premium-members-section img {
    border-radius: 50%;
    width: 1.5rem;
    margin-left: -0.8rem;
}

.premium-members-section span {
    color: #777;
    margin-left: 0.5rem;
}

.premium-button {
    margin: 1rem 0;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
    background-color: #f9c982;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.premium-button:hover {
    cursor: pointer;
    background-color: #efa22e;
}

.people-connect-section {
    margin-top: 1.2rem;
    background: #fff;
    border-radius: 0.5rem 0.5rem 0 0;
    border-top: 0.6px solid #ccc;
    border-left: 0.6px solid #ccc;
    border-right: 0.6px solid #ccc;
    padding: 1rem;
}

.people-connect-section p {
    font-size: 1rem;
    color: #777;
}

.people-connect-section p span {
    float: right;
    font-weight: 600;
    color: #000;
}

.connect-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.connect-card .people-connect-card {
    flex-basis: 23%;
    margin-top: 0.8rem;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
}

.people-connect-card:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
}

.connect-card .people-connect-card .card-bg-img {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 4rem;
}

.connect-card-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    position: relative;
}

.card-inner-img {
    border-radius: 50%;
    margin-top: -4.2rem;
}

.connect-card-inner span i {
    position: absolute;
    font-size: 1.5rem;
    top: -3.8rem;
    right: 0.8rem;
    background: rgba(94, 94, 94, 0.7);
    color: #fff;
    padding: 0.1rem;
    border-radius: 50%;
}

.connect-card-inner h4 {
    text-align: center;
    color: #000;
    margin: 0.3rem 0;
}

.connect-card-inner p {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.1rem;
}

.connect-card-inner:hover,
.connect-card-inner h4:hover {
    cursor: pointer;
    text-decoration: underline;
}

.card-connect-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-connect-btn .card-inner-sch-img {
    width: 1rem;
    margin: 0 0.25rem;
}

.card-connect-btn span {
    color: #777;
    font-size: 0.7rem;
}

.card-connect-btn a {
    border: 1.5px solid #045be6;
    border-radius: 1.5rem;
    padding: 0.4rem 2rem;
    margin: 0.8rem 0;
    color: #045be6;
    font-weight: 600;
}

.card-connect-btn i {
    margin: 0 0.2rem;
}

.card-connect-btn a:hover {
    cursor: pointer;
    background: #e0e5ef;
    border: 2px solid #045be6;
}


/* SECOND CARD SECOND CARD SECODN CARD SECOND CARD  */

.people-connect-second-section {
    background: #fff;
    border-radius: 0 0 0.5rem 0.5rem;
    border-bottom: 0.6px solid #ccc;
    border-left: 0.6px solid #ccc;
    border-right: 0.6px solid #ccc;
    padding: 1rem;
}

.people-connect-second-section p {
    font-size: 1rem;
    color: #777;
}

.people-connect-second-section p span {
    float: right;
    font-weight: 600;
    color: #000;
}

.second-connect-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second-connect-card .people-connect-second-card {
    flex-basis: 32%;
    margin-top: 0.8rem;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
}

.people-connect-second-card:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
}

.second-connect-card .people-connect-second-card .second-card-bg-img {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 4rem;
}

.second-connect-card-inner {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    position: relative;
}

.second-card-inner-img {
    width: 35%;
    border-radius: 50%;
    margin-top: -3.8rem;
    margin-left: 0.8rem;
}

.second-connect-card-inner span i {
    position: absolute;
    font-size: 1.5rem;
    top: -3.8rem;
    right: 0.8rem;
    background: rgba(94, 94, 94, 0.7);
    color: #fff;
    padding: 0.1rem;
    border-radius: 50%;
}

.second-connect-card-inner h4 {
    color: #000;
    margin: 0.1rem 0.3rem 0.1rem;
}

.second-connect-card-inner p {
    font-size: 0.8rem;
    line-height: 1.1rem;
    margin: 0.1rem 0.3rem 0.1rem;
}

.second-connect-card-inner:hover,
.second-connect-card-inner h4:hover {
    cursor: pointer;
    text-decoration: underline;
}

.second-card-connect-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-card-connect-btn a {
    border: 1.5px solid #045be6;
    border-radius: 1.5rem;
    padding: 0.4rem 5rem;
    margin: 0 0.5rem 0.5rem;
    color: #045be6;
    font-weight: 600;
}

.second-card-connect-btn a:hover {
    cursor: pointer;
    background: #e0e5ef;
    border: 2px solid #045be6;
}


/* NETWORK MAIN CONTENT END */




/* -------------------------------------- THE NETWORK PAGE THE NETWORK PAGE THE NETWORK PAGE -------------------------------------- */







/* -------------------------------------- JOBS PAGE SECTION JOBS PAGE SECTION JOBS PAGE SECTION -------------------------------------- */

/* JOB PAGE LEFT SIDEBAR START */

.job-page-container {
    padding: 1.25rem 11%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.job-page-left-sidebar {
    flex-basis:  20%;
    align-self: flex-start;
    position: sticky;
    top: 4.56rem;
}

.job-sidebar-profile-box {
    margin: 0;
    background: #fff;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
}

.job-sidebar-profile-box .jobs-sidebar {
    padding: 0.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}

.jobs-sidebar .jobs-sidebar-list {
    margin: 0.5rem 0.2rem;
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-block;
}

.job-sidebar-icon {
    font-size: 1.4rem;
    margin-right: 0.5rem;
    color: #000000bf;
}

.job-sidebar-post {
    text-align: center;
    margin-top: 1.5rem;
}

.job-sidebar-post a {
    padding: 1rem 3rem;
    border: 1px solid #045be6;
    border-radius: 3rem;
    color: #045be6;
}

.job-sidebar-post a i {
    margin-right: 0.3rem;
}

.job-sidebar-post a:hover,
.job-sidebar-post a i:hover {
    cursor: pointer;
    border: 2px solid #0647b1;
    background: #eaf0f9;
}


/* JOB PAGE LEFT SIDEBAR END */






/* JOB PAGE MAIN CONTENT SECTION START */

.job-page-main-content {
    flex-basis: 50%;
    align-self: flex-start;
    top: 4.56rem;
}

.job-page-main-content .hiring-section-bg {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
    padding: 0.5rem 0;
    text-align: center;
}

.hiring-section-bg .hiring-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hiring-section img {
    border-radius: 50%;
    width: 7.5rem;
    margin: 0.9rem 0;
}

.hiring-section h3 {
    color: #000;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.hiring-section p {
    color: #777;
    margin-bottom: 1rem;
}

.hiring-section-bg .hiring-link {
    padding: 0.4rem 3rem;
    border: 1px solid #045be6;
    border-radius: 3rem;
    color: #045be6;
}

.hiring-section-bg .hiring-link:hover {
    cursor: pointer;
    border: 2px solid #0647b1;
    background: #eaf0f9;
}

.recruit-section-bg {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
    padding: 1.5rem 1rem;
    margin-top: 1rem;
}

.recruit-section-bg h3 {
    color: #000;
    font-weight: 600;
}

.recruit-section-bg h3 span {
    float: right;
    font-size: 1.8rem;
    margin-top: -0.2rem;
    cursor: pointer;
}

.recruit-section-bg p {
    color: #777;
    margin: 0.5rem 0;
}

.recruit-section-bg .recruit-open {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem 0;
}

.recruit-open img {
    width: 2.4rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.recruit-open p {
    font-weight: 600;
    color: #000;
}

.recruit-open p span {
    color: #777;
    font-weight: 500;
    display: block;
}

.recruit-section-bg a {
    padding: 0.7rem 2rem;
    background-color: #045be6;
    color: #fff;
    border-radius: 4rem;
    font-weight: 600;
}

.recruit-section-bg a:hover {
    cursor: pointer;
    background-color: #0647b1;
}

.job-search-section-bg {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
    padding: 1.5rem 1rem;
    margin-top: 1rem;
}

.job-search-section-bg h3 {
    color: #000;
    font-weight: 600;
}

.job-search-section-bg h3 span {
    float: right;
    font-size: 1.8rem;
    margin-top: -0.2rem;
    cursor: pointer;
}

.job-search-section-bg .job-search-bar {
    justify-content: center;
    align-items: center;
}

.job-search-bar a {
    padding: 0.1rem 1rem;
    border: 1px solid #045be6;
    border-radius: 3rem;
    color: #045be6;
    display: inline-block;
    font-weight: 600;
    margin: 1rem 0.1rem 0 0;
}

.job-search-bar a i {
    font-weight: 600;
}

.job-search-bar a:hover {
    cursor: pointer;
    border: 2px solid #0647b1;
    background: #eaf0f9;
}

.job-search-toplist-bg {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
    padding: 1.5rem 1rem;
    margin-top: 1rem;
}

.job-search-toplist-bg .job-search-toplist-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.job-search-toplist-container .toplist-img {
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 0.8rem;
}

.job-search-toplist-container .job-search-toplist h3 {
    color: #000;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.job-search-toplist article img {
    border-radius: 50%;
    width: 1.5rem;
}

.job-search-toplist-container .job-search-toplist-image {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.job-search-toplist article .applicant-premium-user-img {
    margin-left: -0.8rem;
}

.job-search-toplist article span {
    color: #777;
    margin-left: 0.5rem;
}

.job-search-toplist .applicant-premium-user-btn {
    background-color: #f9c982;
    color: #000;
    padding: 0.7rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 3rem;
}

.job-search-toplist .applicant-premium-user-btn:hover {
    background-color: #efa22e;
    cursor: pointer;
}

.job-search-toplist p {
    color: #777;
    margin-top: 1.6rem;
}

.job-search-pick-section {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
    padding: 1.5rem 1rem;
    margin-top: 1rem;
}

.job-search-pick-section h3 {
    color: #000;
}

.job-search-pick-section p {
    color: #777;
    margin: 0.5rem 0 1.2rem;
}

.job-search-pick-section .job-pick-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.job-pick-search i {
    font-size: 3.2rem;
    color: #000;
    margin-bottom: 0.8rem;
}

.job-pick-search h2 {
    color: #000;
    font-size: 1.3rem;
}

.job-pick-search a {
    color: #045be6;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    border: 2px solid #045be6;
    border-radius: 3rem;
}

.job-pick-search a:hover {
    cursor: pointer;
    border: 2px solid #0647b1;
    background: #e0e5ef;
}





/* JOB PAGE MAIN CONTENT SECTION START */

.job-right-sidebar {
    flex-basis: 25%;
    align-self: flex-start;
    top: 4.56rem;
}

.job-right-sidebar .job-sidebar-guide-bg {
    background: #fff;
    border-radius: 0.5rem;
    border: 0.6px solid #ccc;
}

.job-sidebar-guide-bg h3 {
    color: #000;
    margin: 2rem 0.8rem 0.2rem;
}

.job-sidebar-guide-bg p,
.job-sidebar-guide-bg .job-show-more-link {
    color: #777;
    margin: 0 0.8rem 0.5rem;
    font-size: 0.9rem;
}

.job-sidebar-guide-bg .resume-improve {
    padding: 0.8rem 0;
    background: #f8fafd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.job-sidebar-guide-bg .resume-improve:hover {
    cursor: pointer;
    background: #ecf1fa;
}

.resume-improve p {
    font-weight: 600;
    font-size: 1rem;
    color: #000;
}

.resume-improve i {
    color: #000;
    font-size: 2.5rem;
}

.job-sidebar-guide-bg .job-show-more-link {
    margin-bottom: 1.3rem;
}

.job-sidebar-guide-bg .job-show-more-link a:hover {
    color: #045be6;
    cursor: pointer;
    text-decoration: underline;
}

/* JOB PAGE MAIN CONTENT SECTION END */


/* -------------------------------------- JOBS PAGE SECTION JOBS PAGE SECTION JOBS PAGE SECTION -------------------------------------- */








/* -------------------------------------- MEDIA QUERY SECTION MEDIA QUERY SECTION MEDIA QUERY SECTION -------------------------------------- */



/* MEDIA QUERY FOR SMALL SCREEN START */

@media only screen and (max-width: 576px) {
    .search-box {
        background: transparent;
        width: auto;
        padding: 0;
    }

    .search-box input {
        width: 0;
        padding: 0;
    }

    .navbar-center ul li a span {
        display: none;
    }

    .navbar-center ul li a {
        padding-right: 0;
        margin: 0.31rem;
    }

    .nav-profile-img {
        width: 1.875rem;
    }

    .container {
        padding: 0.93rem 3%;
    }

    .tablet-sidebar {
        display: none;
    }

    .left-sidebar, .right-sidebar {
        flex-basis: 100%;
        position: relative;
        top: unset;
    }

    .main-content {
        flex-basis: 100%;
    }

    .post-stats article {
        margin: 2px 0;
    }

    .post-activity-link span {
        display: none;
    }

    .post-activity-link img {
        margin-left: 0;
    }

    .profile-main, .profile-sidebar {
        flex-basis: 100%;
    }

    .profile-container {
        font-size: 0.875rem;
    }

    .profile-pic {
        width: 6.25rem;
        margin-top: -3.125rem;
    }

    .profile-description {
        font-size: 0.875rem;
    }

    #showMoreLink {
        display: block;
        width: fit-content;
        margin: 0.625rem auto;
        font-size: 0.875rem;
        cursor: pointer;
        color: #333;
    }

    .sidebar-activity {
        display: none;
    }

    .sidebar-activity.open-activity {
        display: block;
    }
}

/* MEDIA QUERY FOR SMALL SCREEN END */







/* MEDIA QUERY FOR MEDIUM SCREEN START */

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .search-box {
        background: transparent;
        width: auto;
        padding: 0;
    }

    .search-box input {
        width: 0;
        padding: 0;
    }

    .logo img {
        margin-left: 2.5rem;
    }

    .navbar-right {
        margin-right: 2.5rem;
    }

    .navbar-center ul li a span {
        display: none;
    }

    .navbar-center ul li a {
        margin: 0 1rem;
    }

    .nav-profile-img {
        width: 2rem;
    }

    .left-sidebar, .right-sidebar {
        display: none;
    }

    .tablet-sidebar {
        flex-basis:  30%;
        align-self: flex-start;
        position: sticky;
        top: 4.56rem;
    }

    .main-content {
        flex-basis: 65%;
        align-self: flex-start;
        top: 4.56rem;
    }

    .post-stats article {
        margin: 2px 0;
    }

    .post-activity-link span {
        display: none;
    }

    .post-activity-link img {
        margin-left: 0;
    }

    .profile-main {
        flex-basis: 65%;
    }

    .profile-sidebar {
        flex-basis: 30%;
    }

    .profile-container {
        font-size: 0.875rem;
    }

    .profile-pic {
        width: 6.25rem;
        margin-top: -3.125rem;
    }

    .profile-description {
        font-size: 0.875rem;
    }
}

/* MEDIA QUERY FOR MEDIUM SCREEN END */






/* MEDIA QUERY FOR LARGE SCREEN START */

@media only screen and (min-width: 769px) {
    .tablet-sidebar {
        display: none;
    }
}

/* MEDIA QUERY FOR LARGE SCREEN END */




/* -------------------------------------- MEDIA QUERY SECTION MEDIA QUERY SECTION MEDIA QUERY SECTION -------------------------------------- */




