@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* RESET START */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* RESET START */



/* GENERAL STYLES START */

body {
    background: #f4f2ee;
    color: #f0f2f5;
}

a {
    text-decoration: none;
    color: #5f5f5f
}

/* GENERAL STYLES START */


/* NAVIGATION BAR SECTION NAVIGATION BAR SECTION  */

.navbar {
    background: #fff;
    height: 3rem;
    border-bottom: 0.5px solid #ccc;
}

.navbar-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-info .navbar-logo {
    width: 2.2rem;
    margin: 0.5rem 1.4rem 0.5rem;
}

.navbar-info .profile-image {
    width: 1.6rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-navbar {
    background: #fff;
    width: 18rem;
    height: 100vh;
    position: fixed;
}

.navbar-menu .navbar-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 2rem 1.5rem 2rem;
}

.navbar-title img {
    width: 2.1rem;
    border-radius: 50%;
}

.navbar-title h3 {
    color: #000;
    font-size: 2rem;
    font-weight: 550;
    margin-left: 0.8rem;
}

.navbar-menu-list ul {
    padding: 1rem 1rem 1rem 0;
}

.navbar-menu-list ul li {
    margin: 0 0 2rem;
    padding: 0.5rem 1rem;
    border-left: 3px solid green;
}

.navbar-menu-list ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.navbar-menu-list ul li a i {
    font-size: 1.5rem;
}

.navbar-menu-list ul li a span {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

/* NAVIGATION BAR SECTION NAVIGATION BAR SECTION  */